Makefile
Makefile.in
*.o

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
src/stamp-h1


doc/netdj.1
netdj.spec
src/.deps/
src/config.h
src/config.h.in

src/netdj
